.about_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
  background: #ffef63;
  background: radial-gradient(circle, rgb(243, 227, 194) 0%, rgba(255, 255, 255, 1) 100%);
}

/* --- Updated Section Layout --- */
.about_section_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 90px;
}

.about_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about_image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about_image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 390px;
  background-color: #f5f50fa0;
  left: 0px;
  top: 0;
  z-index: -1;
}

.about_taital {
  width: 35%;
  float: left;
  font-size: 40px;
  color: #fcca1c;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.about_taital::after {
  content: "";
  position: absolute;
  width: 193px;
  height: 2px;
  background-color: #be8003;
  left: initial;
  right: 0px;
  top: 44%;
  z-index: -1;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #442904;
  margin: 0px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/* --- Updated Text and Button Section --- */
.about_taital_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  position: relative;
  min-height: 390px;
}

.lorem_text {
  font-size: 16px;
  color: #442904;
  margin-bottom: auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

.read_bt {
  align-self: flex-end;
  margin-top: 20px;
}

.read_bt a {
  display: inline-block;
  font-size: 16px;
  color: #442904;
  background-color: #f5f50fa0;
  text-align: center;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.read_bt a:hover {
  color: #442904;
  background-color: #fcca1c;
  box-shadow: 0 0 20px #ffb800, 0 0 40px #ffb800, 0 0 60px #ff8c00,
              0 0 80px #ff8c00, 0 0 100px #ff4500;
}